@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
.wish{
   font-family:"Honk"; margin-left:150px;font-size:40px;
}
div{
    height:550px;
    width:800px;
    background-color:#ffb3e6;
padding:40px;
margin:100px;
border-radius:20%;
box-shadow:0 2px 15px 10px #ff33bb;
}
.balloons{
height:150px;
}
.name{
text-align:center;font-family:fantasy;font-size:80px;
}
button{
padding:3px;margin-left:250px;margin-bottom:120px;height:60px;border-radius:50% ;
color:#e62e00;background-color:#ffc2b3;justify-content:center;size:30px;
justify-content:center;text-align:center;
}
button:hover{
height:80px;background-color:#99ff99;color:#00cc00;
}
